<html>

<img src = "http://brandcrowd.com/gallery/brands/pictures/picture13244692529250.jpg" width="400" height="300">
	<body style="text-align:center;">		
		<fieldset class="blockCenter" style="width: 20em; margin-top: 1em; margin-left: 41em;" >
		<table>
	<!--<tr><h1 style="text-align:center;">Amadeus</h1></tr><br />-->
		
		<h3><a href = "/fooding/insertview"> Create an Event </a><br /></h3>
		<!--<h3><a href = "/stableMongo/myFirstview"> Read </a><br /></h3>
		<h3><a href = "/stableMongo/updateview"> Update </a><br /></h3>
		<h3><a href = "/demotest/mng/advsearchview"> Delete </a><br /></h3>
		<h3><a href = "/stableMongo/compareview"> Compare Oracle and Mongo DB </a><br /></h3>-->
		</table>
		</fieldset>
	<p style="text-align:right;">&#169; Rajat, Sep-2011</p>
</body >
</html>

