<!DOCTYPE html>
<html>
<head>
    <title>Fooding Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/site_media/css/styles.css">
</head>
<body id="css-zen-garden">
<div class="page-wrapper">

	<section class="intro" id="zen-intro">
		<header role="banner">
			<h1>CSS Zen Garden</h1>
			<div class="user_panel">
				<a href="/logout/">Logout</a>
			</div>
		</header>
		</div>	
	</section>
	
</div>

<h2> Hello {{ firstname }} {{ lastname }}! Welcome to the Fooding Dashboard </h2>

</body>
</html>