<!DOCTYPE html>
<html>
<head>
    <title>Fooding Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/site_media/css/styles.css">
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
	<title>jQuery UI Datepicker - Default functionality</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script type="text/javascript">
	  $(function() {
		$( ".datepicker" ).datepicker({
		  changeMonth: true,
		  changeYear: true,
		  yearRange: "2014:2099",
		  // You can put more options here.
		});
	  });
	</script>
	<script type="text/javascript">
	 
	$(document).ready(function(){
	 
			$(".createEvent").hide();
			$(".show_hide").show();
	 
		$('.show_hide').click(function(){
		$(".createEvent").slideToggle();
		});
	 
	});
	 
	</script>

 
</head>
<body id="css-zen-garden">
<div class="page-wrapper">

	<section class="intro" id="zen-intro">
		<header role="banner">
			<h1></h1>
			<div class="user_panel">
				<a href="/logout/">Logout</a>
			</div>
		</header>
		</div>
	</section>

</div>
<div class = "welcomeHeader">
<h2> Hello {{ firstname }} {{ lastname }}! Welcome to the Fooding Dashboard </h2>
</div>
<div class="dashboardMenu">
<a href="#" class="show_hide">Create Event</a> &nbsp; <a href="/searchEvents/">All Events</a>

</div>
<div class ="displayEvents">
<p> Your events : </p>
<ul>
{% for event in events %}
    <li>on {{ event.dateOfEvent }} : {{ event.title }} - {{event.address}}</li>
    <td><a href="{% url food.views.viewEvent event_id=event.pk %}">See Event</a></td>
	<td><a href="{% url food.views.deleteEvent event_id=event.pk %}">Delete</a></td>
{% endfor %}
</ul>
</div>
<div class="createEvent">
	<h2> Create an Event </h2>
    <form id="createEvent" action="{% url food.views.createEvent %}" method="post" class="niceform" novalidate>{% csrf_token %}
        <dl>
            <dt> Title : </dt>
            <dd>{{ form.title }}</dd>
            <!--<dd>{{ form.title.errors }}</dd>-->
        </dl>
        <dl>
            <dt> Description : </dt>
            <dd>{{ form.description }}</dd>
            <!--<dd>{{ form.description.errors }}</dd>-->
        </dl>
		<dl>
            <dt> Date : </dt>
            <dd>{{ form.date }}</dd>
            <!--<dd>{{ form.date.errors }}</dd>-->
        </dl>
		<dl>
            <dt> Cuisine : </dt>
            <dd>{{ form.cuisineType }}</dd>
            <!--<dd>{{ form.date.errors }}</dd>-->
        </dl>
		<table align = "right">
            <tr> 
			<td > Address : </td>
			</tr>
			<br>
			<tr>
			<td> Street </td><td> Zip/Postal Code </td>
			</tr>
			<br>
			<tr>
            <td>{{ form.address }}</td><td>{{ form.zipCode }}</td>
			<!--<td>{{ form.zipCode.errors }}</td>-->
			</tr>
            <!--<dd>{{ form.address.errors }}</dd>-->
			<tr>
            <td> Country : </td>
            <td>{{ form.country }}</td>
			</tr>
            <!--<dd>{{ form.address.errors }}</dd>-->
        <br>
		<br>
		<tr>
		<td>
		<input type="submit" value="Create Event" class="button" />
		</td>
		</tr>
					</table>
    </form>
</div>
</ul>
</div>
	<div id="map" style="width: 600px; height: 400px"></div>

	<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
	<script>
	/*
	 * This code is representing a map mashup on the HTML page
	 */
	
	//Representing the user icon on the map
	var userIcon = L.icon({
		iconUrl: '/site_media/img/markers/userMarker.png',

		iconSize:     [40, 40], // size of the icon
		popupAnchor:[0,-20],
	});
	
	//Representing the user icon on the map
	var homeIcon = L.icon({
		iconUrl: '/site_media/img/markers/homeMarker.png',
		iconSize:     [36, 51],
        iconAnchor: [17, 51],
		popupAnchor:[0,-31],
	});
	
	var cuisineIcon = L.Icon.extend({
    options: {
        iconSize:     [36, 51],
        iconAnchor: [17, 51],
		popupAnchor:[0,-31],
    }
	});
	
	var africanMarker = new cuisineIcon({iconUrl: '/site_media/img/markers/africanMarker.png'}),
    angloSaxonMarker = new cuisineIcon({iconUrl: '/site_media/img/markers/angloSaxonMarker.png'}),
    arabMarker = new cuisineIcon({iconUrl: '/site_media/img/markers/arabMarker.png'}),
	asianMarker = new cuisineIcon({iconUrl: '/site_media/img/markers/asianMarker.png'}),
	bbqMarker = new cuisineIcon({iconUrl: '/site_media/img/markers/bbqMarker.png'}),
	continentalMarker = new cuisineIcon({iconUrl: '/site_media/img/markers/continentalMarker.png'}),
	experimentalMarker = new cuisineIcon({iconUrl: '/site_media/img/markers/experimentalMarker.png'}),
	fusionMarker = new cuisineIcon({iconUrl: '/site_media/img/markers/fusionMarker.png'}),
	indianMarker = new cuisineIcon({iconUrl: '/site_media/img/markers/indianMarker.png'}),
	italianMarker = new cuisineIcon({iconUrl: '/site_media/img/markers/italianMarker.png'}),
	kosherMarker = new cuisineIcon({iconUrl: '/site_media/img/markers/kosherMarker.png'}),
	mediterraneanMarker = new cuisineIcon({iconUrl: '/site_media/img/markers/mediterraneanMarker.png'}),
	mexicanMarker = new cuisineIcon({iconUrl: '/site_media/img/markers/mexicanMarker.png'}),
	middleEastMarker = new cuisineIcon({iconUrl: '/site_media/img/markers/middleEastMarker.png'}),
	nordicMarker = new cuisineIcon({iconUrl: '/site_media/img/markers/nordicMarker.png'}),
	nouvelleMarker = new cuisineIcon({iconUrl: '/site_media/img/markers/nouvelleMarker.png'}),
	oceanianMarker = new cuisineIcon({iconUrl: '/site_media/img/markers/oceanianMarker.png'}),
	sushiMarker = new cuisineIcon({iconUrl: '/site_media/img/markers/sushiMarker.png'}),
	vegetarianMarker = new cuisineIcon({iconUrl: '/site_media/img/markers/vegetarianMarker.png'}),
	veganMarker = new cuisineIcon({iconUrl: '/site_media/img/markers/veganMarker.png'});
	
	// This function returns the user location (coordinates) from the browser itself
	function getLocation()
	{
	if (navigator.geolocation)
		{
			navigator.geolocation.getCurrentPosition(drawMap);
		}
	else{alert("Geolocation is not supported by this browser.");}
	}

	// This function is using the geolocation coordinates to draw the map
	function drawMap(position) {
	
	var latitude = position.coords.latitude;
	var longitude = position.coords.longitude;

	// here we define the map with the user's location center and zoom factor of 10
	var map = L.map('map').setView([latitude, longitude], 10);
	L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
			'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="http://mapbox.com">Mapbox</a>',
		id: 'examples.map-i86knfo3'
	}).addTo(map);

	// here we add the marker representing the user's location
	L.marker([latitude, longitude], {icon: userIcon}).addTo(map)
		.bindPopup("You are here!").openPopup();
		
	// for each event on the DB we draw a new marker
	{% for event in allEvents %}
		if({{event.chef.id}} == {{userId}})
		{
			L.marker([{{ event.latitude }}, {{ event.longitude }}],{icon: homeIcon}).addTo(map)
		.bindPopup(" This event is yours! <br> <a href='http://ncegcolnx323:8080/viewEvent/{{event.id}}'>{{ event.title }}</a>");
		}
		else if("{{ event.cuisineType }}" == "African")
		{
			L.marker([{{ event.latitude }}, {{ event.longitude }}],{icon: africanMarker}).addTo(map)
		.bindPopup("<a href='http://ncegcolnx323:8080/viewEvent/{{event.id}}'>{{ event.title }}</a>");
		}
		else if("{{ event.cuisineType }}" == "Anglo-Saxon")
		{
			L.marker([{{ event.latitude }}, {{ event.longitude }}],{icon: angloSaxonMarker}).addTo(map)
		.bindPopup("<a href='http://ncegcolnx323:8080/viewEvent/{{event.id}}'>{{ event.title }}</a>");
		}
		else if("{{ event.cuisineType }}" == "Arab")
		{
			L.marker([{{ event.latitude }}, {{ event.longitude }}],{icon: arabMarker}).addTo(map)
		.bindPopup("<a href='http://ncegcolnx323:8080/viewEvent/{{event.id}}'>{{ event.title }}</a>");
		}
		else if("{{ event.cuisineType }}" == "Asian")
		{
			L.marker([{{ event.latitude }}, {{ event.longitude }}],{icon: asianMarker}).addTo(map)
		.bindPopup("<a href='http://ncegcolnx323:8080/viewEvent/{{event.id}}'>{{ event.title }}</a>");
		}
		else if("{{ event.cuisineType }}" == "Barbecue")
		{
			L.marker([{{ event.latitude }}, {{ event.longitude }}],{icon: bbqMarker}).addTo(map)
		.bindPopup("<a href='http://ncegcolnx323:8080/viewEvent/{{event.id}}'>{{ event.title }}</a>");
		}
		else if("{{ event.cuisineType }}" == "Continental")
		{
			L.marker([{{ event.latitude }}, {{ event.longitude }}],{icon: continentalMarker}).addTo(map)
		.bindPopup("<a href='http://ncegcolnx323:8080/viewEvent/{{event.id}}'>{{ event.title }}</a>");
		}
		else if("{{ event.cuisineType }}" == "Experimental")
		{
			L.marker([{{ event.latitude }}, {{ event.longitude }}],{icon: experimentalMarker}).addTo(map)
		.bindPopup("<a href='http://ncegcolnx323:8080/viewEvent/{{event.id}}'>{{ event.title }}</a>");
		}
		else if("{{ event.cuisineType }}" == "Fusion")
		{
			L.marker([{{ event.latitude }}, {{ event.longitude }}],{icon: fusionMarker}).addTo(map)
		.bindPopup("<a href='http://ncegcolnx323:8080/viewEvent/{{event.id}}'>{{ event.title }}</a>");
		}
		else if("{{ event.cuisineType }}" == "Indian")
		{
			L.marker([{{ event.latitude }}, {{ event.longitude }}],{icon: indianMarker}).addTo(map)
		.bindPopup("<a href='http://ncegcolnx323:8080/viewEvent/{{event.id}}'>{{ event.title }}</a>");
		}
		else if("{{ event.cuisineType }}" == "Italian")
		{
			L.marker([{{ event.latitude }}, {{ event.longitude }}],{icon: italianMarker}).addTo(map)
		.bindPopup("<a href='http://ncegcolnx323:8080/viewEvent/{{event.id}}'>{{ event.title }}</a>");
		}
		else if("{{ event.cuisineType }}" == "Kosher")
		{
			L.marker([{{ event.latitude }}, {{ event.longitude }}],{icon: kosherMarker}).addTo(map)
		.bindPopup("<a href='http://ncegcolnx323:8080/viewEvent/{{event.id}}'>{{ event.title }}</a>");
		}
		else if("{{ event.cuisineType }}" == "Mediterranean")
		{
			L.marker([{{ event.latitude }}, {{ event.longitude }}],{icon: mediterraneanMarker}).addTo(map)
		.bindPopup("<a href='http://ncegcolnx323:8080/viewEvent/{{event.id}}'>{{ event.title }}</a>");
		}
		else if("{{ event.cuisineType }}" == "Mexican")
		{
			L.marker([{{ event.latitude }}, {{ event.longitude }}],{icon: mexicanMarker}).addTo(map)
		.bindPopup("<a href='http://ncegcolnx323:8080/viewEvent/{{event.id}}'>{{ event.title }}</a>");
		}
		else if("{{ event.cuisineType }}" == "Middle-East")
		{
			L.marker([{{ event.latitude }}, {{ event.longitude }}],{icon: middleEastMarker}).addTo(map)
		.bindPopup("<a href='http://ncegcolnx323:8080/viewEvent/{{event.id}}'>{{ event.title }}</a>");
		}
		else if("{{ event.cuisineType }}" == "Nordic")
		{
			L.marker([{{ event.latitude }}, {{ event.longitude }}],{icon: nordicMarker}).addTo(map)
		.bindPopup("<a href='http://ncegcolnx323:8080/viewEvent/{{event.id}}'>{{ event.title }}</a>");
		}
		else if("{{ event.cuisineType }}" == "Nouvelle")
		{
			L.marker([{{ event.latitude }}, {{ event.longitude }}],{icon: nouvelleMarker}).addTo(map)
		.bindPopup("<a href='http://ncegcolnx323:8080/viewEvent/{{event.id}}'>{{ event.title }}</a>");
		}
		else if("{{ event.cuisineType }}" == "Oceanian")
		{
			L.marker([{{ event.latitude }}, {{ event.longitude }}],{icon: oceanianMarker}).addTo(map)
		.bindPopup("<a href='http://ncegcolnx323:8080/viewEvent/{{event.id}}'>{{ event.title }}</a>");
		}
		else if("{{ event.cuisineType }}" == "Sushi")
		{
			L.marker([{{ event.latitude }}, {{ event.longitude }}],{icon: sushiMarker}).addTo(map)
		.bindPopup("<a href='http://ncegcolnx323:8080/viewEvent/{{event.id}}'>{{ event.title }}</a>");
		}
		else if("{{ event.cuisineType }}" == "Vegetarian")
		{
			L.marker([{{ event.latitude }}, {{ event.longitude }}],{icon: vegetarianMarker}).addTo(map)
		.bindPopup("<a href='http://ncegcolnx323:8080/viewEvent/{{event.id}}'>{{ event.title }}</a>");
		}
		else if("{{ event.cuisineType }}" == "Vegan")
		{
			L.marker([{{ event.latitude }}, {{ event.longitude }}],{icon: veganMarker}).addTo(map)
		.bindPopup("<a href='http://ncegcolnx323:8080/viewEvent/{{event.id}}'>{{ event.title }}</a>");
		}
		else{
			L.marker([{{ event.latitude }}, {{ event.longitude }}]).addTo(map)
		.bindPopup("<a href='http://ncegcolnx323:8080/viewEvent/{{event.id}}'>{{ event.title }}</a>");
		}
	{% endfor %}

	var popup = L.popup();

	// this function deals with the onClick event
	function onMapClick(e) {
		popup
			.setLatLng(e.latlng)
			.setContent("You clicked the map at " + e.latlng.toString())
			.openOn(map);
	}

	map.on('click', onMapClick);
	}

	getLocation();
	
	</script>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</body>
</html>