<!DOCTYPE html>
<html>
<head>
    <title>Fooding Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/site_media/css/styles.css">
    <meta charset="utf-8">
    <title>jQuery UI Datepicker - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
</head>
<body id="css-zen-garden">
<div class="page-wrapper">
    <section class="intro" id="zen-intro">
        <header role="banner">
            <h1></h1>
            <div class="user_panel">
				{% if notifications %}
				<a href="{% url food.views.viewNotifications %}">
				<input type="image" id="myimage" src="/site_media/img/notificationOn.png" title="Notifications" style="display: block;"/><div class="blink_me"> Notifications! </div></a>
				
				{% else %}
				<a href="{% url food.views.viewNotifications %}">
				<input type="image" id="myimage" src="/site_media/img/notificationOff.png" title="Notifications" style="display: block;"/>
				</a>
				{% endif %}
				<br>
				<br>
                <a href="/logout/">Logout</a> | <a href="{% url food.views.viewUserProfile user_id=userId %}">Profile</a> |
				<a href="/insertview/">Home</a>
            </div>
        </header>
        </div>
    </section>
</div>
<div class = "welcomeHeader">
<h2> Hello {{ firstname }} {{ lastname }}! These are the events around you! </h2>
</div>
<div class ="showCurrentEvents">
<p> Here are some Current Events : </p>
<ul>
{% for event in outputEvents %}
    <li>on {{ event.dateOfEvent }} : {{ event.title }} - {{event.description}}</li>
    <td><a href="{% url food.views.viewEvent event_id=event.pk %}">See Event</a></td>
	 {% if event.chef.id == userId %}
		<td><a href="{% url food.views.deleteEvent event_id=event.pk %}">Delete</a></td>
	{% endif %} 
{% endfor %}
</ul>
</div>
</body>
</html>