<!DOCTYPE html>
<html>
<head>
    <title>Fooding Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/site_media/css/styles.css">
    <meta charset="utf-8">
    <title>jQuery UI Datepicker - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
</head>
<body id="css-zen-garden">
<div class="page-wrapper">
    <section class="intro" id="zen-intro">
        <header role="banner">
            <h1></h1>
            <div class="user_panel">
                <a href="/logout/">Logout</a> |
				<a href="/insertview/">Home</a>
            </div>
        </header>
        </div>
    </section>
</div>
<div class = "welcomeHeader">
<h2> User Profile of {{ firstname }} {{ lastname }} </h2>
</div>
<div class ="viewEvent">
<p> Here are some details of the user : </p>
<ul>
<td>User Name : {{ user.username }}</td><br>
<td>First Name : {{ firstname }}</td><br>
<td>Last Name : {{ lastname }}</td><br>
<td>Gender : {{ user.get_profile.gender }}</td><br>
<td>Address : {{ user.get_profile.address }}, {{ user.get_profile.zipCode }}, {{ user.get_profile.country }}</td><br>
<br>
<br>
<p> Here are some Events Hosted by the user : </p>
<ul>
{% for event in events %}
    <li>on {{ event.dateOfEvent }} : {{ event.title }} - {{event.description}}</li>
    <td><a href="{% url 'food.views.viewEvent' event_id=event.pk %}">See Event</a></td>
{% endfor %}
</ul>
</div>
<div class="profilePicture">
{% if profilePicture == '' %}
    <img src="/site_media/img/default_profile.jpg" width="150px" height="150px"/>
{% else %}
   <img src="{{ profilePicture }}" width="150px" height="150px"/>
{% endif %}
</div>
</body>
</html>
