<!DOCTYPE html>
<html>
<head>
    <title>Fooding Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/site_media/css/styles.css">
    <meta charset="utf-8">
    <title>jQuery UI Datepicker - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
</head>
<body id="css-zen-garden">
<div class="page-wrapper">
    <section class="intro" id="zen-intro">
        <header role="banner">
            <h1></h1>
            <div class="user_panel">
                <a href="/logout/">Logout</a> |
				<a href="/insertview/">Home</a>
            </div>
        </header>
        </div>
    </section>
</div>
<div class = "welcomeHeader">
<h2> User Profile of {{ firstname }} {{ lastname }} </h2>
</div>
<div class ="viewUser">
<p> User Details : </p>
<ul>
<td>User Name : {{ user.username }}</td><br>
<td>Name: {{ userprofile.firstName }} {{ userprofile.lastName }}</td><br>
<td>Gender : {{ userprofile.gender }}</td><br>
<td>Address : {{ userprofile.address }}, {{ userprofile.zipCode }}, {{ userprofile.country }}</td><br>
<br>
<br>
<td>User Rating: {{ globalrating }}</td><br>
<td>User Reviews: </td><br>
<br>
{% for review in userreviews %}
	<br>{{ review.userReview }}
{% endfor %}
</div>
<div class ="viewEvent">
<p> Here are some Events Hosted by the user : </p>
<ul>
{% for event in events %}
    <li>on {{ event.dateOfEvent }} : {{ event.title }} - {{event.description}}</li>
    <td><a href="{% url 'food.views.viewEvent' event_id=event.pk %}">See Event</a></td>
{% endfor %}
</ul>
</div>
<div class="profilePicture">
{% if profilePicture == '' %}
    <img src="/site_media/img/default_profile.jpg" width="150px" height="150px"/>
{% else %}
   <img src="{{ profilePicture }}" width="150px" height="150px"/>
{% endif %}
<div class="reviewUser">
    <h3> Review the User </h3>
    <form id="reviewUser" action="{% url "food.views.reviewUser" user_id=userprofile.pk %}" method="post" class="niceform" novalidate>
        <label for="rating">Rate the User between 1 and 10:</label>
        <input type="number" name="rating" min="1" max="10">
        <label for="userReview">Write a Review:</label>
        <input type="text" name="userReview" id="userReview">
        <dl>
            <dd></dd>
            <dd>
            <div class="registerButtons">
                <input type="submit" value="Review User" class="button" />
            </div>
            </dd>
        </dl>
    </form>
</div>
</body>
</html>
