<!DOCTYPE html>
<html>
<head>
    <title>Fooding Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/site_media/css/styles.css">
    <meta charset="utf-8">
    <title>jQuery UI Datepicker - Default functionality</title>
    <link rel="stylesheet" href="//codevent.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
	<script type="text/javascript">
		
		function blinker() {
			$('.blink_me').fadeOut(500);
			$('.blink_me').fadeIn(500);
		}

		setInterval(blinker, 1000);

	</script>
</head>
<body id="css-zen-garden">
<div class="page-wrapper">
    <section class="intro" id="zen-intro">
        <header role="banner">
            <h1></h1>
            <div class="user_panel">
                {% if notifications %}
				<a href="{% url food.views.viewNotifications %}">
				<input type="image" id="myimage" src="/site_media/img/notificationOn.png" title="Notifications" style="display: block;"/><div class="blink_me"> Notifications! </div></a>
				
				{% else %}
				<a href="{% url food.views.viewNotifications %}">
				<input type="image" id="myimage" src="/site_media/img/notificationOff.png" title="Notifications" style="display: block;"/>
				</a>
				{% endif %}
				<br>
				<br>
                <a href="/logout/">Logout</a> | <a href="{% url food.views.viewUserProfile user_id=userId %}">Profile</a> |
				<a href="/insertview/">Home</a>
            </div>
        </header>
        </div>
    </section>
</div>
<div class = "welcomeHeader">
<h2> Hello {{ firstname }} {{ lastname }}! </h2>
</div>
<div class ="viewEvent">
<p> Here are the details for the Event : </p>
<ul>
<li>{{ event.title }} - {{event.description}}</li>
<td> This event is a {{event.mealType}}, of {{event.cuisineType}} cuisine</td><br>
<td>Date and Time of the Event: {{ event.dateOfEvent }}</td><br>
<td>Address : {{ event.address }}</td><br>
<td>Created by <a href="{% url food.views.viewUserProfile user_id=event.chef.pk %}">{{event.chef}}</a> on {{event.creation_timestamp}}</td><br>

<br>

<br>

<td><p> Menu : </p></td>

{% if event.menuEntree != '' %} 

<td> Entrée : <a href={{entreeWikiUrl}}>{{event.menuEntree}}</a> </td>

{% endif %}

<br>

{% if event.menuFirstCourse != '' %} 

<td> First Course : <a href={{firstCourseWikiUrl}}>{{event.menuFirstCourse}}</a> </td>

{% endif %}

<br>

{% if event.menuSecondCourse != '' %} 

<td> Second Course : <a href={{secondCourseWikiUrl}}>{{event.menuSecondCourse}}</a> </td>

{% endif %}

<br>

{% if event.menuDessert != '' %} 

<td> Dessert : <a href={{dessertWikiUrl}}>{{event.menuDessert}}</a> </td>

{% endif %}

<br>

<br>
 
 <td>Participants: {{ event.guests.count }} out of {{ event.numberOfParticipants}} </td>
 <br>
{% for guest in guests %}
    <td><a href="{% url food.views.viewUserProfile user_id=guest.pk %}"> {{guest}} </a></td><br>
{% endfor %}
{% if event.chef.id != userId  %}
	{% if event.guests.count < event.numberOfParticipants %}
	{% if user not in guests %}
<td><a href="{% url food.views.participateInEvents event_id=event.pk%}">Participate</a></td>
	{% endif %}
	{% else %}
<p style="color: red"> This event has reached the limit of participants. </p> 
{% endif %} 
{% endif %} 
<br>
<br>
{% if event.chef.id == userId %}
	<td><a href="{% url food.views.deleteEvent event_id=event.pk %}">Delete</a></td>
{% endif %} 
</ul>
</div>
<div class="mapEvent">
<div id="map" style="width: 600px; height: 400px"></div>

	<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
	<script src="/site_media/js/dashboardMap.js"></script>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script type="text/javascript">
	
	var layerGroup =  L.layerGroup();
	setLayerGroup(layerGroup);
	
	var markerArray = new Array();
	setMarkerArray(markerArray);
	
	setFunctionality("ViewEvent");
	
	var events = new Array();
	events = [];
	
	console.log(events.length);
	
	var event = {
	latitude:{{event.latitude}},
	longitude:{{event.longitude}},
	cuisineType:"{{event.cuisineType}}",
	id:{{event.pk}},
	chef:{{event.chef.id}},
	title:"{{event.title}}"
	};
	events[0]=event;

	console.log(events.length);
	
	setUserId({{userId}});
	setEvents(events);
	setCsrfToken({{csrfToken}});
	onload = getLocation();
	
	</script>
	</div>
</body>
</html>